{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2020,
		"sourceType": "module",
		"project": "./tsconfig.json",
	},
	"plugins": ["simple-import-sort", "no-autofix", "deprecation"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
		"plugin:eslint-comments/recommended",
	],
	"rules": {
		"@typescript-eslint/array-type": [
			"warn",
			{
				"default": "generic",
				"readonly": "generic",
			},
		],
		"@typescript-eslint/ban-types": "off",
		"@typescript-eslint/no-floating-promises": ["error", { "ignoreVoid": true }],
		"@typescript-eslint/no-unused-vars": "warn",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/no-namespace": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-use-before-define": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/no-require-imports": "error",
		"@typescript-eslint/no-unused-expressions": "warn",

		"curly": ["warn", "multi-line", "consistent"],
		"no-constant-condition": ["error", { "checkLoops": false }],
		"no-debugger": "off",
		"no-empty": ["error", { "allowEmptyCatch": true }],
		"no-extra-boolean-cast": "off",
		"no-undef-init": "error",
		"prefer-const": ["warn", { "destructuring": "all" }],

		"deprecation/deprecation": "warn",
		"eslint-comments/no-unused-disable": "warn",
		"eslint-comments/disable-enable-pair": ["error", { "allowWholeFile": true }],
		"eslint-comments/require-description": "warn",
		"prettier/prettier": "warn",
		"simple-import-sort/exports": "warn",
		"simple-import-sort/imports": "warn",
	},
}
