{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2020,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"plugins": [
		"@typescript-eslint",
		"@typescript-eslint/eslint-plugin",
		"prettier",
		"simple-import-sort",
		"no-autofix",
		"deprecation"
	],
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
	"rules": {
		"prettier/prettier": "warn",
		"@typescript-eslint/array-type": [
			"warn",
			{
				"default": "generic",
				"readonly": "generic"
			}
		],
		"@typescript-eslint/no-floating-promises": ["error", { "ignoreVoid": true }],
		"@typescript-eslint/no-unused-vars": "warn",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/no-namespace": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-use-before-define": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-require-imports": "error",
		"@typescript-eslint/no-unused-expressions": "warn",
		"curly": ["warn", "multi-line", "consistent"],
		"no-autofix/prefer-const": "warn",
		"no-constant-condition": ["error", { "checkLoops": false }],
		"no-debugger": "off",
		"no-empty": ["error", { "allowEmptyCatch": true }],
		"no-extra-boolean-cast": "off",
		"no-undef-init": "error",
		"prefer-const": "off",
		"simple-import-sort/exports": "warn",
		"simple-import-sort/imports": "warn",
		"deprecation/deprecation": "warn"
	}
}
