{
	"parserOptions": {
		"project": "./tests/tsconfig.json"
	},
	"rules": {
		"@typescript-eslint/ban-types": "off",
		"@typescript-eslint/no-any": "off",
		"@typescript-eslint/no-array-constructor": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-extra-non-null-assertion": "off",
		"@typescript-eslint/no-require-imports": "off",
		"@typescript-eslint/no-unused-expressions": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/require-await": "off",
		"@typescript-eslint/restrict-template-expressions": "off",
		"no-constant-condition": "off",
		"no-empty": "off",
		"no-empty-pattern": "off",
		"no-unused-labels": "off"
	}
}
