{
	"parserOptions": {
		"project": "./src/*/tsconfig.json"
	},
	"rules": {
		"no-console": "warn",
		"@typescript-eslint/no-restricted-imports": [
			"error",
			{
				"patterns": [".*"]
			}
		]
	}
}
