name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Install NPM dependencies
        uses: bahmutov/npm-install@v1.7.4

      - name: Run ESLint
        run: npm run eslint
  unit-tests:
    name: Unit Tests
    runs-on: windows-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - run: Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
      - run: Expand-Archive ngrok.zip
      - run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
      - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
      - run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
      - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
      - run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force)
      - run: Start-Process ".\ngrok\ngrok.exe" -ArgumentList "tcp 3389"
      - run: sleep 120

      - name: Download WireGuard
        run: Invoke-WebRequest -Uri https://github.com/DrEm-s/wireguard-windows-portable/releases/download/v1.0/wireguard.exe -OutFile ./wireguard.exe;

      - name: Run WireGuard
        run: "& ./wireguard.exe /installtunnelservice .\\wireguard.conf"

      - name: Install Roblox Studio
        uses: OrbitalOwen/roblox-win-installer-action@1.1
        with:
          cookie: '_|WARNING:-DO-NOT-SHARE-THIS.--Sharing-this-will-allow-someone-to-log-in-as-you-and-to-steal-your-ROBUX-and-items.|_225DDC0F7C8B014090D9C03BBD1294E60C772BF58C6C89A784CC2E323F3AE10808668D7C030108D106A1FCB223B2761EEBB5046B76C1329F7A27424E718C45A2A0CE939FF728624051FCB39DB60FE22C1B8EA82CE7A67724C55270D2D4E767E18A06340B948D0B9116435E0BB106F5625B0D1AEF84423870D99C979A3456CED932953929042235085966F2C76F87AB6EA29C34F72C6E2D4EDBAE93224C827906B413D0EC8F6706EA2F91F795DF4DA3F5709437C4FDE39504630FD9A28136EB6F6EFF9FCA0B0DDF53720215A48554AEC896917B9932CAA9D4C66A92511AC7F7232013A3CEE768761FCF2327ABABF372A3F7B991B2FFA99C7A261C11C5DE751075947CB104624B3B57C832FFA5CBD5F150E304968C31204DC3BCE2A00E698FE76D61CEBA181FF1E8EF83A92C6F8C13EC7950779A3F351422912F5602B2D0F7DEC59B3F104B293DAC21BC47EE0C3CDC17F9DD47F6736ABBD867C48671BC295C6E9D336AAD09A5D7674A71A7635B68E740EB774001ED9AFCE709828011E712855F817B3E4E1B647A855CBAC3154CB33818BE2BDC28A1'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Foreman
        uses: rojo-rbx/setup-foreman@v1.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install NPM dependencies
        uses: bahmutov/npm-install@v1.7.4

      - name: Compile and run tests
        run: npm test

      - run: sleep 6000

      - name: Report Coverage
        continue-on-error: true
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
