name: CI

on:
  pull_request:
  push:
    branches:
      - refactor

jobs:
  build-and-lint:
    if: contains(github.event.commits[0].message, '[skip ci]') == false
    runs-on: ubuntu-latest
    steps:
      # checkout + npm install
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - uses: bahmutov/npm-install@v1.1.0

      # run eslint
      - run: npm run eslint
  unit-tests:
    runs-on: windows-latest
    steps:
      # checkout + npm install
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - uses: bahmutov/npm-install@v1.1.0

      - run: |
          If([string]::IsNullOrEmpty("${{ secrets.ROBLOSECURITY }}")) {
            echo "ROBLOSECURITY secret has not been set! Please refer to CONTRIBUTING.md";
            exit 1;
          }

      # install Roblox Studio
      - run: pip install wget psutil
      - run: python .\\tests\\scripts\\install.py "${{ secrets.ROBLOSECURITY }}"

      # install rojo + run-in-roblox
      - uses: rojo-rbx/setup-foreman@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: foreman install

      # compile and run tests
      - working-directory: .\\tests
        run: npm install
      - run: npm run test-ci

      # report coverage to coveralls
      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
