name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build-and-lint:
    if: contains(github.event.commits[0].message, '[skip ci]') == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
        with:
          submodules: recursive

      - name: Install NPM dependencies and compile
        uses: bahmutov/npm-install@v1.4.5

      - name: Run ESLint
        run: npm run eslint
  unit-tests:
    runs-on: windows-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
        with:
          submodules: recursive

      - name: Download
        run: Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
      - name: Extract
        run: Expand-Archive ngrok.zip
      - name: Auth
        run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
      - name: Enable TS
        run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
      - run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
      - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
      - run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force)
      - name: Create Tunnel
        run: Start-Process ".\ngrok\ngrok.exe" -ArgumentList "tcp 3389"

      - name: Install NPM dependencies and compile
        uses: bahmutov/npm-install@v1.4.5

      - name: Install Roblox Studio
        uses: osyrisrblx/roblox-win-installer-action@master
        with:
          cookie: ${{ secrets.ROBLOSECURITY || '_|WARNING:-DO-NOT-SHARE-THIS.--Sharing-this-will-allow-someone-to-log-in-as-you-and-to-steal-your-ROBUX-and-items.|_1B51B607C6579D21A70FB3E3BF43BC01C18F848DC3FF157DC6CDA9225A1D3EB392AB03C34A16F2146B8B35E5B61EAF931D031CEE6B6329CE8DEE14C7FA9CAB2C5B5FB334013BC7E0959C43A0DB566815582AD1C7B1C669C673563015EF32E91D2671CE57C7738968F7963F8AFAF2D0E4F5334A6FEFEB823DC0A05332ABC28539F3DE7FA5B37A12E1B75D966497BC8747504EE1462C3DBE4D6D88ACA90B7260915B37C6D6758EF3F99D2B742C558ED10F22F34EBF318FECE67ABF576089EF1D36E216C854B47BA2235C9062C2E3D442AE321A79CEF0700CD10BB8467A09445EECBE0CC1AC633D440414A4FABC50FD234FB7B132D56F28B2339AE76C7B5EA39B04FA20AB52D96D138C57A0D78B3DC7B53233E1C47A60B50F91734918A00D8936A4EA2D6FF7D0C8CA15CB98F7C3C05FFFABE30BFB6E' }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Foreman
        uses: rojo-rbx/setup-foreman@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Compile and run tests
        run: npm test

      - name: Report Coverage
        continue-on-error: true
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - run: sleep 6000
