name: CI

on:
  pull_request:
  push:
    branches:
      - master

env:
  ROBLOSECURITY: ${{ secrets.ROBLOSECURITY || '_|WARNING:-DO-NOT-SHARE-THIS.--Sharing-this-will-allow-someone-to-log-in-as-you-and-to-steal-your-ROBUX-and-items.|_4085A104FA557C16A96A37229CDE54D9CA369B2E7E04BAE54E082144C887EE716B5E53DDCB8FAB5E45CD6222BF7840870D2733EFD95CE37D9DA9310599E8D2558D98B8DBF9316D8EF32BF8DA693E2F25049F0A709A343A544AEE8CB6D7BF29AFAC4098B6EB225ECB3213431D4E52AEBFC6FB3D4BD1889288B9D4C8B88EC125BD5385F0276D18E7CB6BC4C59CE6C78868FEFC016E71410724C127C9DCF2CEF4AF55C438E428F11AA41BCBE313A604EF52BFAD542DB7844FEC40F4261E8A07909047683EE6747FF0112E105277C58C2C36F5ADC6263B03CFCF5E9573F595EE16DA641283A5B941787F58579375607F5B28C32A4E1E14E2840E29907938E0BCD9B9127B218292A9BAB3876446F30649FCE84C0BD4BFFF370CC878987CA87754DE5F9726EF5C3F8F0A203872A478E9ACF02D3B8A0BCFED9B47EBC8BA2999EEDD6266D2DA7629CE9FDCA9FD3077FADF8EA88A7E7E9F476CB2C622611AA1CE5F9140AA53A799B4A8EF674C9762BCE28922BB3AA6C86615BD5E95EAC0DE666B9E74AA7D87773B7756DB7EA57AD4159E5AC7CD272D0D952E' }}

jobs:
  lint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Install NPM dependencies
        uses: bahmutov/npm-install@v1.7.4

      - name: Build projects for eslint types
        run: npm run build
        continue-on-error: true

      - name: Run ESLint
        run: npm run eslint

  unit-tests:
    name: Unit Tests
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Install Foreman
        uses: rojo-rbx/setup-foreman@v1.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install NPM dependencies
        uses: bahmutov/npm-install@v1.7.4

      - name: Compile Source Files
        run: npm run build

      - name: Install Latest Test Types
        run: npm run test-setup

      - name: Compile Test Files
        run: npm run test-compile

      - name: Build Test Place File
        run: npm run test-rojo

      - name: Download OpenVPN
        run: choco install openvpn

      - name: Run OpenVPN
        run: Start-Process -FilePath "C:\\Program Files\\OpenVPN\\bin\\openvpn.exe" -ArgumentList "--config $((Resolve-Path .\\actions.ovpn).Path)"

      - name: Poll for IP Change
        run: |
          $elapsed = 0
          while ($true) {
            try {
              $response = Invoke-WebRequest -Uri 'https://httpbin.org/ip' -Method GET -UseBasicParsing
              $content = ConvertFrom-Json $response.Content
              if ($content.origin -eq "159.223.100.103") {
                break
              }
            } catch {}
            if ($elapsed -ge 20) {
              Write-Error "Timeout reached!"
              exit 1
            }
            Write-Output "Polling.. Elasped: $elapsed, IP: $($content.origin)"
            Start-Sleep 5
            $elapsed += 5
          }
          Write-Output "Success!"

      - name: Validate Cookie
        run: |
          $session = New-Object Microsoft.PowerShell.Commands.WebRequestSession
          $cookie = New-Object System.Net.Cookie
          $cookie.Name = ".ROBLOSECURITY"
          $cookie.Value = "${{ env.ROBLOSECURITY }}"
          $cookie.Domain = ".roblox.com"
          $session.Cookies.Add($cookie);
          Invoke-WebRequest "https://avatar.roblox.com/v1/avatar" -WebSession $session -UseBasicParsing

      - name: Install Roblox Studio
        uses: OrbitalOwen/roblox-win-installer-action@1.1
        with:
          cookie: ${{ env.ROBLOSECURITY }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Tests
        run: npm run test-run

      - name: Screenshot
        if: failure()
        uses: OrbitalOwen/desktop-screenshot-action@0.1
        with:
          file-name: 'desktop.jpg'

      - name: Report Coverage
        continue-on-error: true
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
