name: Unit Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: macos-14
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Foreman
        uses: Roblox/setup-foreman@v2.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install NPM Dependencies
        uses: bahmutov/npm-install@v1.7.4

      - name: Update Test Types
        run: npm run update-test-types

      - name: Run Tests
        run: npm test

      - name: Upload Test Output
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: test-output
          path: tests/out

      - name: Report Coverage
        continue-on-error: true
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
